In [10]:
#Create a list named ‘myList’ that is having the following elements: 10,20,30,’apple’, True, 8.10.

In [64]:
myList=[10,20,30,'apple', True, 8.10]

In [65]:
myList

[10, 20, 30, 'apple', True, 8.1]

In [66]:
#a. Now in the ‘myList’, append these values: 30,40
    myList.extend([30,40])

myList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

In [86]:
#b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’
myList.reverse()

In [88]:
print("reversedList: ",myList )

reversedList:  [40, 30, 8.1, True, 'apple', 30, 20, 10]

In [89]:
reversedList=myList

In [90]:
reversedList

[40, 30, 8.1, True, 'apple', 30, 20, 10]

In [94]:
myList.reverse()
myList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

In [119]:
#2. Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’
dict={1:'data',2:'information',3:'text'}

In [106]:
dict

{1: 'data', 2: 'information', 3: 'text'}

In [120]:
#a. After that eliminate the ‘text’ value form the dictonary
dict.pop(3)

'text'

In [121]:
dict

{1: 'data', 2: 'information'}

In [122]:
#Add ‘features’ in the dictonary
dict[3]='features'

In [123]:
dict

{1: 'data', 2: 'information', 3: 'features'}

In [115]:
#Fetch the ‘data’ element from the dictonary and display it in the output.

In [124]:
dict[1]

'data'

In [126]:
#3. Create a tuple and add these elements 1,2,3,apple,mango in ‘my_tuple
my_tuple=(1,2,3,'apple','mango')
my_tuple

(1, 2, 3, 'apple', 'mango')

In [127]:
#4. Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50
numeric_tuple=(10,20,30,40,50)
numeric_tuple

(10, 20, 30, 40, 50)

In [129]:
#a. Find the minimum value from the numeric_tuple.
min(numeric_tuple)

10

In [135]:
#b. Concatenate my_tuple with numeric_tuple and store the result in r1.
r1= my_tuple+numeric_tuple
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [137]:
#c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’.

newdupli=my_tuple+my_tuple

newdupli

(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [142]:
#5. Create 2 sets with name set1 and set2, where set1 contains{1,2,3,4,5} and set2 to contains{2,3,7,6,1}

set1={1,2,3,4,5}
set2={2,3,7,6,1}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7}

In [146]:
#a. Perform the below operation:
#a. set1 union set2
#b. set1 intersection set2
#c. set1 difference set2

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [148]:
set1.intersection(set2)

{1, 2, 3}

In [149]:
set1.difference(set2)

{4, 5}

In [150]:
set2.difference(set1)

{6, 7}