In [ ]:
# Data Types : basic classification of information.
# Data strucuture: collection of datatypes.

# Mutuable Datatypes: In which information stored can be easily changed or altered , once they are declared.(List,Dictionary,sets)


# Immutable Datatypes: In which information stored cannot be changed or altered, once they are declared.(int, float,boolean,strings,tuple)

In [5]:
# variable

q=78

In [6]:
type(q)

int

In [8]:
# Boolean--> True, False

10>8

True

In [40]:
# Immutable Data type:

# String: collection of characters or sequence character.

# Syntax: 'text'  or "text"
x='PYTHON'

In [27]:
x

'PYTHON'

In [28]:
type(x)

str

In [ ]:
# python: everything in python start from 0.

# R ---> everything in R start from 1.

In [ ]:
# Access or extract out the information from the collection.

# Indexing: helps to extract out any of the particular or individual element.


#Slicing: helps to extract out the sequence or multiple element from collection.

# Index:


# P Y T H O N 

# 0 1 2 3 4 5    ----> regular indexes(left to right in an incremental way.)


#-6-5-4-3-2-1    ----> reverse or negative indexes(right to left in a decremental way.)

In [29]:
# Implementation of indexing

# syntax: var_n[index number of the element to be accessed out]

x[3]

'H'

In [30]:
x[0]

'P'

In [31]:
x[2]  # regular indexes

'T'

In [32]:
x[-4]  # reverse indexe.

'T'

In [37]:
x[-2]

'O'

In [56]:
# slicing: 

# Syntax: var_n[start index : end index +1]

x[1:2]   # [1]

'Y'

In [58]:
# ython
x[2:6]

'THON'

In [59]:
#  user forgets to provide the starting parameter.--> it will by default satrts from begining(0 th index)

x[:4]  # [0,1,2,3]

'PYTH'

In [60]:
# user forgets to pass the end value---> it will include till the last index.

x[3:] # [3,4,5(end of the index)]

'HON'

In [69]:
# reverse index

x[3:-6]  #[-3,-2]

''

In [71]:
# Mutuability 

x

'PYTHON'

In [73]:
x[1]='C'

TypeError: 'str' object does not support item assignment

In [74]:
x

'PYTHON'

In [78]:
x='Hello'

In [79]:
x

'Hello'

In [80]:
x=90

In [81]:
x

90

In [82]:
x='RED'

In [83]:
x

'RED'

In [85]:
x[0]='T'

TypeError: 'str' object does not support item assignment

In [87]:
# Tuple : set of heterogeneous(different ) datatypes, stored as a single collection.

# syntax: var_n=(a1,a2,a3,a4----an)

tug=(10,45.6,78,'Rose',True,234,'Thunder',56)

In [88]:
tug

(10, 45.6, 78, 'Rose', True, 234, 'Thunder', 56)

In [89]:
type(tug)

tuple

In [90]:
# Indexing and slicing.

tug[5]

234

In [91]:
tug[3]

'Rose'

In [93]:
# slicing

tug[1:4]

(45.6, 78, 'Rose')

In [94]:
tug

(10, 45.6, 78, 'Rose', True, 234, 'Thunder', 56)

In [107]:
# Problem Statement: s from tuple

# Double indexing(string):

tug[3][2]

In [110]:
tug[3:8]  #[3,4,5,6,7]

('Rose', True, 234, 'Thunder', 56)

In [112]:
# mutuability

tug

(10, 45.6, 78, 'Rose', True, 234, 'Thunder', 56)

In [114]:
tug[2]=900

TypeError: 'tuple' object does not support item assignment

In [115]:
tug

(10, 45.6, 78, 'Rose', True, 234, 'Thunder', 56)

In [116]:
# Mutuable Datatypes:

# List : set of heterogeneous(different ) datatypes, stored as a single collection.

# syntax: var_n=[a1,a2,a3-----an]

sky=[10,45.6,78,'Rose',True,234,'Thunder',56]

In [117]:
sky

[10, 45.6, 78, 'Rose', True, 234, 'Thunder', 56]

In [118]:
type(sky)

list

In [119]:
# indexing and slicing

sky[2]

78

In [120]:
sky[5]

234

In [121]:
sky[6]

'Thunder'

In [122]:
# slicing

sky[3:6]

['Rose', True, 234]

In [124]:
# Double indexing

sky[6][4]

'd'

In [125]:
# Check Mutuability
sky

[10, 45.6, 78, 'Rose', True, 234, 'Thunder', 56]

In [127]:
sky[2]=900

In [133]:
sky[3]=45

In [134]:
sky

[10, 45.6, 900, 45, True, 234, 'Thunder', 56]

In [ ]:
# int---> 4,56,-78,98,-32
# float--> 45.6,89,43

In [144]:
sky[-3]=87

In [145]:
sky

[10, 45.6, 900, 45, True, 87, -789, 56]

In [ ]:
# tuple--> restrictive towards change

# List--> accept and flexible towards change.

# Different Scenario to pick up the list , tuple.

# project manager---> conifidential and curical information

# Development-->A,B

# Testings-->X,Y

In [ ]:
# Dicitonary: helps to store the information in more manageable way.(key value pair format.)

# help to define the user defined indexes by implementing keys---> indexes.

# you cannot keys in Dictionary.


# Key: int, float, string(identifier)

# Value: int, float, string (information).


# Syntax: var_n={k1:v1,k2:v2,k3:v3------kn:vn}

In [151]:
# walmart---> 5 products onto the self.


W_list=[23,56,200,4,67]

In [152]:
W_list

[23, 56, 200, 4, 67]

In [172]:
# Dictionary---> store the proices of the product.

w_dict={455678:20,'Honey':15,'Headphones':145,'Mobile cover':12,'Choclates':5,'Biscuits':9,'Oats':15}

In [173]:
w_dict

{455678: 20,
 'Honey': 15,
 'Headphones': 145,
 'Mobile cover': 12,
 'Choclates': 5,
 'Biscuits': 9,
 'Oats': 15}

In [174]:
# user defined indexes:

# Key---> access the values
# vice versa you cannot access the key from values.
w_dict[455678]

20

In [157]:
w_dict['Oats']

15

In [158]:
w_dict['Honey']

15

In [160]:
# mutuability
w_dict['Headphones']=200

In [161]:
w_dict

{'Cake': 20,
 'Honey': 15,
 'Headphones': 200,
 'Mobile cover': 12,
 'Choclates': 5,
 'Biscuits': 9,
 'Oats': 15}

In [162]:
# Keys in a single

w_dict.keys()

dict_keys(['Cake', 'Honey', 'Headphones', 'Mobile cover', 'Choclates', 'Biscuits', 'Oats'])

In [163]:
w_dict.values()

dict_values([20, 15, 200, 12, 5, 9, 15])

In [164]:
# scalable , new product.

# add element to dictionary.

w_dict['Pen']=35

In [165]:
w_dict

{'Cake': 20,
 'Honey': 15,
 'Headphones': 200,
 'Mobile cover': 12,
 'Choclates': 5,
 'Biscuits': 9,
 'Oats': 15,
 'Pen': 35}

In [166]:
# multiple keys.

w_dict.update({'Rice':10,'Fruits':15,'Icecream':12})

In [167]:
w_dict

{'Cake': 20,
 'Honey': 15,
 'Headphones': 200,
 'Mobile cover': 12,
 'Choclates': 5,
 'Biscuits': 9,
 'Oats': 15,
 'Pen': 35,
 'Rice': 10,
 'Fruits': 15,
 'Icecream': 12}

In [168]:
# delete the key from dictionary.

w_dict.pop('Fruits')

15

In [169]:
w_dict

{'Cake': 20,
 'Honey': 15,
 'Headphones': 200,
 'Mobile cover': 12,
 'Choclates': 5,
 'Biscuits': 9,
 'Oats': 15,
 'Pen': 35,
 'Rice': 10,
 'Icecream': 12}

In [170]:
del w_dict['Rice']

In [171]:
w_dict

{'Cake': 20,
 'Honey': 15,
 'Headphones': 200,
 'Mobile cover': 12,
 'Choclates': 5,
 'Biscuits': 9,
 'Oats': 15,
 'Pen': 35,
 'Icecream': 12}

In [2]:
34+68

102

In [ ]:
# set: 

# conditional statement

# looping statement

# Functions.

In [ ]:
# set: unordered, unindexed ,unique collection of element.

# Helps to remove duplicate values from the entire collection.

# syntax:
# var_n={a1,a2,a3,a4}

In [4]:
fly={23,56,2,1,23,34,54,6,1,2,3,5,6,23,'Rose','Thunder',4,32,23,78.9,'Rose',65.4,23}

In [5]:
fly

{1, 2, 23, 3, 32, 34, 4, 5, 54, 56, 6, 65.4, 78.9, 'Rose', 'Thunder'}

In [6]:
type(fly)

set

In [7]:
# boolean values.

drum={3,2,1,True,1,0}

In [8]:
drum

{0, 1, 2, 3}

In [ ]:
# True=1

# False=0


# whateve coming first from left to right that will be included

In [9]:
jet={0,True,1,False}

In [10]:
jet

{0, True}

In [15]:
eagle={1,True}

In [16]:
eagle

{1}

In [ ]:
# Whenever you will be numeric set---> sorted ascending order

# Whenever you are having heterogeneous set(string, float)---> unordered.

In [17]:
# problem statement: you have to remove duplicate elements from a List .

tiger=[23,4,5,6,4,3,2,3,4,5,65,67,7,6,5,4,5,6,7,7,8,9,7,6,8,9,9,8,9,12,34]


# set()--> convert it to set.

#list()---> convert eveything in list.

In [18]:
tiger

[23,
 4,
 5,
 6,
 4,
 3,
 2,
 3,
 4,
 5,
 65,
 67,
 7,
 6,
 5,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 7,
 6,
 8,
 9,
 9,
 8,
 9,
 12,
 34]

In [19]:
# convert the collection to set

x=set(tiger)

In [20]:
x

{2, 3, 4, 5, 6, 7, 8, 9, 12, 23, 34, 65, 67}

In [21]:
type(x)

set

In [22]:
# again covert the created set into list.

new=list(x)

In [23]:
new

[65, 2, 3, 4, 5, 6, 67, 7, 8, 9, 34, 12, 23]

In [25]:
new[2:5]

[3, 4, 5]

In [32]:
# sort the List

# sort()---> sort the list in an ascending order from smaller ---> greater element.

# sort(reverse=True)---> descending order---> greater element----->smaller element 
new.sort(reverse=True)

In [33]:
new

[67, 65, 34, 23, 12, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
# Conditional Staement: helps to control the flow of execution of code.

# helps to execute the code on top of the condition.

# condition---> True--->Execution of the code.
#condition---> False---> overlook the code and jumps on next statement.

# Decision Making functionality.

In [34]:
print('A')
print('B')
print('C')

A
B
C

In [35]:
print('task1')
print('task2')

task1
task2

In [ ]:
# 1. If and Else structure:  # 10 dollar--> money available  10>15
                             # 15  dollar---> price of the product.

if condition: # False
    task 1
else:
    task 2
    
#rest code
    
# 1.condition ---> True--->task1 ---> Exit the entire block.

#2. condition ---> False-->task2---> exit the entire block.

In [47]:
a=500
a

500

In [48]:
b=500
b

500

In [49]:
if a>b: # 500>500--->False
    print('a is greater than b')
else:
    print('b is greater than a')

b is greater than a

In [ ]:
# 2. if elif-n times and else statement.

if condition1:
    task 1
elif condition2:
    task 2
else:
    task 3
    
# 1. condition1--->True--->task1---> Exit the block.

#2. condition1---> False-->evaluate condition2--->true--->task2---> exit the block.

#3. condition 1--->False-->evaluation condition2--->False--->task3---> Exit the block.

In [55]:
if a>b:  500>500
    print('a ig greater than b')
elif a==b: 500==500
    print('a is equals to b')
else:
    print('b is greater than a')

a is equals to b

In [ ]:
# = ---> assignment values

# ==---> comparsion ---> compare LHS to RHS---> equal--> true, not equal-->False

In [51]:
e=30

In [ ]:
# problem statement : National Eelection Commission, you have application which classifying the citizen as an valid voter or not.

# taking input of age(18) from the user---> provide the classification.

In [60]:
age=int(input('Enter the age '))

if age>=18:
    print('You are eligible to cast the vote')
    
elif age==17:
    print('wait for 1 more Year to cast the vote')
    
elif age==16:
    print('wait for 2 more years to cast the vote')
else:
    print('you are not eligible to cast the vote')

Enter the age 17
wait for 1 more Year to cast the vote

In [ ]:
# Looping Statement: helps to achieve the repeative functionality or task.


# For Loop: smart loop and massively used for programmers for computaions.

# Traversing the information stored in collection list, tuples.


# While Loop: conditional loop and due to additional step to implement will make it less popular among programmers.

In [68]:
# task --> print python onto the screen 100 times.

# for loop.

list(range(1))  # generate the instance and communicate the loop to execute 


# loop will execute for 1 time whenever there in an assignment of value to your iterable variable(p). 

# terminating condition of loop, when ther is value left.

[0]

In [106]:
for p in range(11): 
    print('python')

python
python
python
python
python
python
python
python
python
python
python

In [83]:
# advantage traverse over the collection

hunter=[23,89,34,32,'Thunder','Aeronautics',67.8,True]

In [84]:
hunter

[23, 89, 34, 32, 'Thunder', 'Aeronautics', 67.8, True]

In [85]:
for w in hunter: #[23,89,34,32,'Thunder','Aeronautics',67.8]
    print(w)

23
89
34
32
Thunder
Aeronautics
67.8
True

In [82]:
marks=[49,67,75,81,63,66,49,89,82]

In [88]:
for a in marks:
    print(a+10)

59
77
85
91
73
76
59
99
92

In [89]:
marks

[49, 67, 75, 81, 63, 66, 49, 89, 82]

In [96]:
# optimal solution---> create an empty list--> append the update append.

new_marks=[]  # empty list[59,77,85------------92]

for i in marks:  #[49, 67, 75, 81, 63, 66, 49, 89, 82]
    new_marks.append(i*10)

In [97]:
marks

[49, 67, 75, 81, 63, 66, 49, 89, 82]

In [98]:
new_marks

[490, 670, 750, 810, 630, 660, 490, 890, 820]

In [99]:
marks

[49, 67, 75, 81, 63, 66, 49, 89, 82]

In [1]:
# While Loop : conditional loop

# condition--->you will execute  till the assigned condition remains true.

# Terminating ---> once condition turns to be false.

t=0

while t<10:
    print('python') 
    t=t+1# t-->9+1-->10

python
python
python
python
python
python
python
python
python
python

In [ ]:
# Functions: it block of statement executed in a pattern to achieve functionality. 

# helps to reuse the code.

In [2]:
# user defined functions.

a=345634656767
b=3543647768
c=567868990

a+b+c

349746173525

In [3]:
a=457568960098
b=3545675679879
c=3457768

a+b+c

4003248097745

In [ ]:
# Print---> display the output on the screen---> you cannot use and store the result of the function.

# return ---> function will provide the out[ut for further computation.

In [17]:
# defining function
def spyware(a,b,c):
    d=a+b+c
    return d

In [22]:
# calling function

spyware(3,5,6)

14

In [21]:
u*56

784

In [20]:
type(u)

int

In [6]:
spyware(3456347468798,34656789778098654,23432432345676543)

58092678471243995

In [8]:
spyware(35457487598586764353432,123213565769987,57669090676987)

35457487779469420800406

In [9]:
# inbuilt function

help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None